{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <p class="text-body-tertiary">Environment: {{ session.env }}</p>
        </div>
        <div class="col">
            <p class="text-body-tertiary fst-italic text-end">{{ session.datetime|from_timestamp }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col content-result rounded-4 me-2">
            <h3 class="border-bottom">Errors</h3>
            <div id="piechart" style="height: 220px;"></div>
        </div>
        <div class="col content-result rounded-4 ms-2" style="height: 300px">
            <h3 class="border-bottom">Errors count</h3>
            {% if session.errors|length > 0 %}
                <div class="row">
                    {% for error in count_error_types(session.errors).items() %}
                        <div class="col badge">
                            <h2>{{ error[1] }}</h2><br>
                            <h6>{{ error[0] }}</h6>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="text-center mt-5">No errors founds!</h2>
            {% endif %}
        </div>
    </div>

    <div class="rounded pre_json">
        <a class="nav-link btn text-body-tertiary" data-bs-toggle="collapse" data-bs-target="#raw_json" aria-expanded="false" aria-controls="raw_json">
            Raw JSON
        </a>
        <div class="rounded collapse show" id="raw_json">
            <hr class="mt-0">
            <pre>{{ json_stringify(session) }}</pre>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                {% for error in count_error_types(session.errors).items() %}
                    ['{{ error[0] }}', {{ error[1] }}],
                {% endfor %}
            ]);

            var options = {
                is3D: true,
                pieHole: 0.3,
                width: '100%',
                height: '100%',
                pieSliceText: 'percentage',
                chartArea: {
                    top: "3%",
                    height: "100%",
                    width: "94%"
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

{% endblock content %}
